		
h1{
	font-family:"caveat";
	font-size:200px;
	text-align:center;
}
h2{
	font-family:"Merriweather";
	font-size:120px;
	text-align:center;	
}

.princi{
text-align:center;
}
.imagen2{	
	width:500px; 
	height:600px;
}
.imagen3{
	width:800PX;
	height:600px;
}				
body{
	/* esto se que no es lo mejor por que es de una pagina pero no me funcionaba con las carpetas en el url */
background-image: url(https://i.pinimg.com/originals/54/bd/7a/54bd7ac50681b36289304f6e7bb53ac4.jpg);
}
.center{	
	text-align:center;
}
p{
	font-family:"Merriweather";
	font-size:50px;
}
h6{
	font-family:merriweather;
	font-size:15px;